.navbar {
    position: relative;
    display: flex;
    align-items: flex-end;
    min-height: 8.5rem; 
    padding: 1rem 1.5rem;
    color: var(--color-text-main);
    background-color: var(--color-bg-surface);

    .navbar__list {
        width: 100%;
    }

    .navbar__left {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        width: 100%;
    }

    .navbar__right {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .navbar__item {
        display: flex;
        align-items: center;
        padding: 0.6rem 1.2rem; 
        border-radius: 0.2rem;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .navbar__item--logo {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        padding: 0;
    }

    .navbar__item:hover {
        background-color: var(--color-hover);

        select, input {
            background-color: var(--color-hover);
        }
    }

    .navbar__item--logo:hover {
        background-color: transparent;
    }

    .navbar__item--img {
        height: 2.5rem;
    }

    .navbar__item--profile {
        height: 2.5rem;
        padding: 0 1rem;
        border: none;
        border-radius: 0.2rem;
        background-color: var(--color-bg-surface);
        font-weight: 700;
        font-size: 1.2rem;
        color: var(--color-text-main);
    }

    .navbar__item--option {
        background-color: var(--color-bg-surface);
        color: var(--color-text-main);
    }

    .navbar__item--grp {
        gap: 1rem;
    }

    .navbar__item--search {
        background-color: transparent;
        border: none;
        font-size: 1.2rem;
        color: var(--color-text-main);
        width: 10rem; 
        padding: 0;
    }

    @media (min-width: 64rem) {
        min-height: 5rem;
        align-items: center;
        padding: 0;

        .navbar__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
            gap: 2rem;
        }

        .navbar__left {
            width: auto;
        }

        .navbar__right {
            position: static;
            width: auto;
        }

        .navbar__item--logo {
            position: static; 
        }
    }
}