<div class="addFilm">
    <h4 class="addFilm__title"># Ajouter ou modifier un Film</h4>
    <form class="addFilm__form">


        <input required type="text" name="Titre" placeholder="Saisir un titre">
        <input required type="text" name="Réalisateur" placeholder="Saisir un réalisateur">
        <input required type="number" name="année de sortie" placeholder="Saisir l'année de sortie">
        <input required type="number" name="durée" placeholder="Saisir la durée du film">
        <input required type="text" name="description" placeholder="Saisir la description">

        <select name="catégorie">
            <option value="Action">Action</option>
            <option value="Animation">Animation</option>
            <option value="Aventure">Aventure</option>
            <option value="Comédie">Comédie</option>
            <option value="Documentaire">Documentaire</option>
            <option value="Drame">Drame</option>
            <option value="Fantastique">Fantastique</option>
            <option value="Horreur/Épouvante">Horreur/Épouvante</option>
            <option value="Policier/Thriller">Policier/Thriller</option>
            <option value="Romance">Romance</option>
            <option value="Science-Fiction">Science-Fiction</option>
            <option value="Western">Western</option>
        </select>

        <input required type="text" name="nom du fichier de l'affiche du film"
            placeholder="Saisir le nom du fichier de l'affiche du film">
        <input required type="text" name="URL du trailer" placeholder="Saisir l'URL du trailer">
        <input required type="number" name="restriction d'age" placeholder="Saisir la restriction d'age">
        <input onclick="{{handler}}" type="button" value="Update" name="todo">
    </form>
</div>