<div class="addFilm">
    <h4 class="addFilm__title"># Ajouter ou modifier un Film</h4>
    <form class="addFilm__form">


        <input required type="text" name="name" placeholder="Saisir un titre">
        <input required type="text" name="director" placeholder="Saisir un réalisateur">
        <input required type="number" name="year" placeholder="Saisir l'année de sortie">
        <input required type="number" name="length" placeholder="Saisir la durée du film">
        <input required type="text" name="description" placeholder="Saisir la description">

            <select name="id_category" class="id-category" id="">
                {{idList}}
            </select>

        <input required type="text" name="image" placeholder="Saisir le nom du fichier de l'affiche du film">
        <input required type="text" name="trailer" placeholder="Saisir l'URL du trailer">
        <input required type="number" name="min_age" placeholder="Saisir la restriction d'age">
        <input onclick="{{handler}}" type="button" value="Update" name="todo">
    </form>
</div>