*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

ul {
  font-family: var(--ff-sans);
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
    font-family: var(--font-main);
}